@model Cinema.Domain.DTO.CartDTO
@using Microsoft.Extensions.Options
@inject IOptions<Cinema.Domain.StripeSettings> Stripe
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.productsInCart.Count == 0)
{
    <h4>No products in cart</h4>
}
else
{
    <form asp-controller="Cart" asp-action="PayForProducts" method="post">
        <article>
            <script src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="EShop Application Payment"
                data-amount="@(Model.totalPrice * 100)"
                data-label="Pay $@Model.totalPrice">
            </script>
        </article>
    </form>

    <ol class="list-group list-group-numbered">

        @foreach (var item in Model.productsInCart)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@item.product.productName</div>
                    <small>Valid unitil: @item.product.validUntil.ToShortDateString()</small>
                    <br />
                    <small>Genre: @item.product.genre</small>
                    <br />
                    <a class="btn btn-outline-danger" asp-controller="Cart" asp-action="DeleteProductFromCart" asp-route-id="@item.productId">Delete</a>
                </div>
                <span class="badge bg-primary rounded-pill">@item.quantity X @item.product.productPrice$</span>
            </li>
        }
    </ol>
}
